@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:50px;">
    <div id="venueRow0">
        <div id="venueName" class="col-xs-2 well" style="text-align:center; margin-bottom:2px; padding:5px;">
            <span>
                Venue
            </span>
        </div>
        <div id="venueEvents" class="col-xs-10 well" style="margin-bottom:2px; padding:5px;">
            <div class="container-fluid">
                <div class="row" style="text-align:center">
                    <div class="col-xs-1" style="min-width:14.2858%">Friday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Saturday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Sunday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Monday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Tuesday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Wednesday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Thursday</div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="text-align:center">
                    <div class="col-xs-1" style="min-width:14.2858%">Friday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Saturday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Sunday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Monday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Tuesday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Wednesday</div>
                    <div class="col-xs-1" style="min-width:14.2858%">Thursday</div>
                </div>
            </div>
        </div>

    </div>
</div>












<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>